{% extends 'base.html.twig' %}

{% block body %}
    <a href="login"><button class="">login</button></a>
    <a href="register"><button class="">register</button></a>
    <a href="{{ path('app_user_index') }}"><button class="">user</button></a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
