{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <tr>
            <th class="column">#</th>
            <th class="column">Imie</th>
        </tr>
        {% for friend in friends %}
        <tr>
            <th>{{ loop.index }}</th>
            <td>{{ friend.username }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
