{% extends 'base.html.twig' %}

{% block body %}

    <table class="table">
        <tr>
            <th class="column">#</th>
            <th class="column">Imie</th>
        </tr>
        {% for name in names %}
        <tr>

            <td>{{ loop.index }}</td>
            <td>{{ name }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block stylesheets %}

{% endblock %}
