{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('app_challenge_index') }}"><button class="button-color">Lista challengy</button></a>
    <a href="{{ path('app_user_friendlist') }}"><button class="button-color">friend list</button></a>
    <a href="{{ path('app_user_findfriends') }}"><button class="button-color">szukaj ziomka</button></a>
    <a href="{{ path('app_user_friendrequests') }}"><button class="button-color">zapro</button></a>

{% endblock %}

{% block stylesheets %}

{% endblock %}
