{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('app_user_listchallenge') }}"><button class="button-color">Lista challengy</button></a>
{% endblock %}

{% block stylesheets %}

{% endblock %}
