{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="SUBMIT" value="Dodaj" class="button-color">
    {{ form_end(form) }}
    <a href="{{ path('app_challenge_index') }}"><button>Wróć</button></a>
{% endblock %}

{% block stylesheets %}

{% endblock %}
