{% extends 'base.html.twig' %}

{% block body %}
    <div class="addChallenge">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="SUBMIT" value="Add" class="btn btn-primary">
    {{ form_end(form) }}
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
